<div class="jumbtron">
    <h3 style="text-align: center;">People with <b>{{skill}}</b> Skill</h3>
</div>

<br>
<div class="col-xs-offset-4 col-xs-4">

    <div ng-repeat="user in ppl">
        <div class="list panel panel-default" ng-click="detail(user.email)">
            <div class="panel-heading">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="panel-body">
                {{user.headline}}
            </div>
        </div>
    </div>


</div>
